/* src/componants/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(300, 3%, 24%); /* Baby pink */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fbf8f8;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #fbf8f8;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #000;
}
